
*.exe
*.out
*_fort*.*
*.dat
*.log
*.o
*.err
*.png
*.lis
*.bnx
*.eps

*.*~
*.pickle
*.bnn
*.jpg
myfluka
ran*

**/.vscode/
run/
# fastsim/
lenustorm/fluka_*
lenustorm/obs/
myanal/*.inp
myanal/*.flair
myanal/*.regions
myanal/*.rotdefi
myanal/*.bodies
myanal/*.replicas
myanal/__pycache__/